<h2><%= feature.name %></h2>

<div class="col">
  <%= form_tag feature_path(feature.name), :class => "percentage_form", :method => :put, :remote => true do %>
    <label>Percentage</label>
    <select class="percentage" name="percentage">
       <option value="0"<%= " selected='selected'" if feature.percentage == 0.to_s %>>Disable</option>
       <option value="100"<%= " selected='selected'" if feature.percentage == 100.to_s %>>Enable</option>
    </select>
    <input type="submit" value="Save" />
  <% end %>
</div>
